# ========================
# Environment Files
# ========================
.env
.venv312/
.venv/
.chainlit/
.files/
models/
del/
del_pdffile/

# ========================
# Python cache files
# ========================
__pycache__/
*.pyc
ov_cache/

# ========================
# IDE Files
# ========================
.vscode/

# ========================
# Data Files
# ========================
data/
vectorstore/