# ========================
# Environment Files
# ========================
.env
.venv312/
.venv/
del/

# ========================
# Python cache files
# ========================
__pycache__/
*.pyc

# ========================
# IDE Files
# ========================
.vscode/

# ========================
# Data Files
# ========================
data/
pdfs/
vectorstore/
*.sqlite3